.advantag {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $main-background;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        margin: 15px;
        flex-grow: 1;

        @media screen and (min-width: $tablet) {
            width: 354px;
            flex-grow: 0;
        }

        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }

    &__title {
        margin-bottom: 10px;
        color: $title-color;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media screen and (max-width: $tablet) {
            text-align: center;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__icon-background {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;

        background: $secondary-background;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1200px) {}