.clients {
    padding: 94px 0;

    &__title {
        margin-bottom: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;

        color: $title-color;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {&:not(:last-child) {
        margin-right: 30px;
    }}

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 170px;
        height: 92px;

        color: $icon-color;

        border: 1px solid #AFB1B8;
        border-radius: 4px;

        transition: cborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border: 1px solid $brand-color;
            color: $brand-color;
    }
        }


    &__icon {
        fill: currentColor;
    }
}