.section__hero {

    margin-left: auto;
    margin-right: auto;

    background-color: $hero-background;
    text-align: center;
    background-size: cover;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero/hero_mb.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero/hero_mb@2x.jpg);

    }



    @media screen and(min-width: 768px) {
        /* height: 400px;*/


        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero/hero_tb.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero/hero_tb@2x.jpg);
        }
    }

    @media screen and(min-width: 1200px) {
        /*padding-top: 200px;
        padding-bottom: 200px;*/
        max-width: 1600px;
        height: 600px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero/hero_dt.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero/hero_dt@2x.jpg);
        }

    }

    .container {
        padding: 117px 60px;

        @media screen and (min-width: $tablet) {
            padding: 118px 204px;
        }

        @media screen and(min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }
}


.section-hero__title {
    margin: 0 auto;
    max-width: 694px;


    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-color;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {

        font-size: 44px;
    }
}

.button {
    display: inline-block;
    width: 200px;
    height: 50px;

    color: $hero-color;
    background-color: $brand-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        background-color: $backgraund-hover;
    }
}