 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 1;
     transition: opacity $transition-duration $transition-timing-function;
     background: rgba(0, 0, 0, 0.2);
     z-index: 100;
 }

 .backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;
 }

 .form-field:focus+.input-icon,
 .form-field:hover+.input-icon {
     color: $brand-color;
 }

 .backdrop.is-hidden .modal {
     transform: translate(-50%, -50%) scale(0.9);
 }

 .modal {
     overflow: hidden;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
         /*scale(1.1)*/
     ;
     width: 528px;
     height: 581px;
     padding: 40px;
     border-radius: 4px;
     background-color: $main-background;
     transition: transform $transition-duration $transition-timing-function;
 }

 .close-button {
     position: absolute;
     top: 8px;
     right: 8px;
     outline: none;
     width: 30px;
     height: 30px;
     background-color: $hero-color;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
     cursor: pointer;
     transition: border-color $transition-duration $transition-timing-function;
 }

 .icon-close {
     fill: $title-color;
     transition: fill 250ms $transition-timing-function;
 }

 .close-button:hover,
 .close-button:focus {
     color: $brand-color;
 }

 .close-button:hover .icon-close,
 .close-button:focus .icon-close {
     fill: $brand-color;
 }

 .form {
     max-width: 448px;
     margin-left: auto;
     margin-right: auto;
 }

 /*.close-button:hover,
.icon-close:focus {
  border-color: $(--brand-color);
}*/
 .form-title {
     width: 448px;
     margin-bottom: 12px;
     color: $title-color;
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;
 }

 .form-field {
     position: relative;
     display: flex;
     flex-direction: column;
 }

 .form-field:not(:first-child) {
     margin-top: 10px;
 }

 .form-label {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
 }

 .form-input {
     margin-top: 4px;
     padding-left: 42px;
     width: 448px;
     height: 40px;
     cursor: pointer;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     transition: border-color $transition-timing-function $transition-duration;
     /* outline-color $(--transition-timing-function) $(--transition-duration);*/
     outline: none;
 }

 .form-comment:hover {
     border-color: $brand-color;
     outline: none;
 }

 .form-input:focus-within,
 .form-comment:focus-within {
     outline: none;
     /* outline-color: $(--brand-color);*/
     border-color: $brand-color;
 }

 .form-input:focus+.input-icon,
 .form-input:hover+.input-icon {
     fill: $brand-color;
 }

 .form-input:focus,
 .form-input:hover {
     border-color: $brand-color;
     outline: none;
 }

 .button-form-modal {
     display: block;
     margin: auto;
     margin-top: 30px;
 }

 .button-form-modal:hover,
 .button-form-modal:focus {
     background-color: #188CE8;
 }

 .form-input:hover+.icon-input,
 .form-input:focus+.input-icon {
     fill: $brand-color;
 }

 .input-icon {
     position: absolute;
     top: 55%;
     left: 15px;
     fill: $title-color;
     transition: fill $transition-timing-function $transition-duration;
 }

 .close-button svg {
     margin-top: 4px;
 }

 .form-input:focus-within+.input-icon {
     fill: $brand-color;
 }

 .form-input:hover-within+.input-icon {
     fill: $brand-color;
 }

 /*.form-input:hover {
  border: 1px solid hsla(0, 0%, 0%, .4);
  outline: none;
}*/
 .form-comment {
     margin-top: 4px;
     padding: 12px 16px;
     width: 448px;
     height: 120px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     cursor: pointer;
     resize: none;
     outline: none;
     transition: border-color $transition-timing-function $transition-duration,
         /*outline-color $(--transition-timing-function) $(--transition-duration);*/
 }

 .form-comment::placeholder {
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.01em;
     color: rgba(117, 117, 117, 0.5);
     outline: none;
 }

 .form-checkbox {
     padding-left: 12px;
     margin-top: 20px;
     outline: none;
 }

 .checkbox-text {
     display: block;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
 }

 .checkbox-link {
     outline: none;
     color: $brand-color;
 }

 .checkbox {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0px;
     padding: 0px;
     clip: rect(0 0 0 0);
     overflow: hidden;
     outline: none;
 }

 .checkbox-label {
     display: flex;
     align-items: center;
     text-align: center;
 }

 .checkbox-icon {
     margin-right: 8px;
     border-radius: 2px;
     border: 2px solid $title-color;
 }

 .checkbox:checked+.checkbox-label>.checkbox-icon {
     background-color: $brand-color;
     border-color: $brand-color;
     background-origin: border-box;
 }

 .checkbox:focus+.checkbox-label>.checkbox-icon {
     border-color: $brand-color;
 }

 .checkbox:hover {
     border-color: $brand-color;
 }

 .checkbox:checked+.checkbox-label>.checkbox-icon {
     background-color: $bg-buttons-color-hover;
     border-color: $bg-buttons-color-hover;
     background-origin: border-box;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .checkbox-icon:hover {
     border-color: $brand-color;
 }