 $brand-color: #2196f3;
 $title-color: #212121;
 $text-color: #757575;
 $hero-color: #ffffff;
 $contact-color: rgba(255, 255, 255, 0.6);
 $main-background: #ffffff;
 $hero-background: #2F303A;
 $doin-background: rgba(47, 48, 58, 0.8);
 $team-background: rgba(255, 255, 255, 0.1);
 $secondary-font: Raleway, sans-serif;
 $secondary-background: #f5f4fa;
 $icon-color: #AFB1B8;
 $backgraund-hover: #188ce8;
 $bg-buttons-color-hover: rgba(33, 150, 243, 1);
 $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 $transition-duration: 250ms;
 $mobile-social-border: rgba(33, 33, 33, 0.2);

 @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-display: auto;
     src: url('../fonts/roboto-400.woff'),
         url('../fonts/roboto-400.woff2');
 }

 @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-display: auto;
     src: url('../fonts/roboto-500.woff'),
         url('../fonts/roboto-500.woff2');
 }

 @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-display: auto;
     src: url('../fonts/roboto-700.woff'),
         url('../fonts/roboto-700.woff2');
 }

 @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     font-display: auto;
     src: url('../fonts/roboto-900.woff'),
         url('../fonts/roboto-900.woff2');
 }

 @font-face {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-display: auto;
     src: url('../fonts/raleway-700.woff'),
         url('../fonts/raleway-700.woff2');
 }